.hidden {
    display: none;
}

.deck_label {
    height: 100px;
    text-align: center;
}

.deck_label p {
    font-weight: bold;
}

.user_moxfield_deck {
    border-radius: 5px;
    transition: all ease-in-out 100ms;
}

.user_moxfield_deck:hover {
    box-shadow: inset 0 0 1px 3px #C999E6;
}
