.hidden {
    display: none;
}

.deck_label {
    text-align: center;
    width: 100%;
}

.deck_label.sub_title {
    text-align: left;
    margin-left: 1em;
}

.deck_label p {
    font-weight: bold;
}

.user_moxfield_deck {
    border-radius: 5px;
    transition: all ease-in-out 100ms;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.user_moxfield_deck:hover {
    box-shadow: inset 0 0 1px 3px #C999E6;
}

.commander_deck_label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100% !important;
}
