{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <title>{% block tab_title %}Default Title{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block imports %}
        <!-- Add additional CSS and other imports here -->
    {% endblock %}
</head>
<body>
<section class="section">
    <div class="container">
        <header>
            <h1 class="title">{% block title %}Default Title{% endblock %}</h1>
        </header>
        <main>
            {% block content %}
                <!-- Main content goes here -->
            {% endblock %}
        </main>
        <footer>
            <!-- Footer content goes here -->
        </footer>
    </div>
</section>
<script src="{% static 'js/bulmaJS/dist/bulma.js' %}"></script>
{% block scripts %}
    <!-- Add your scripts here -->
{% endblock %}
</body>
</html>
